<html ng-app="redditClone" >
	<head>
		<title>A Reddit clone written in MEAN</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="/stylesheets/style.css" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.12/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap-tpls.min.js"></script>
		<script src="/javascripts/angularApp.js"></script>
		<style> .glyphicon-thumbs-up { cursor:pointer } </style>
	</head>
	<body>

		<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl">
			<ul class="nav navbar-nav">
				<li><a href="/#/home">Home Page</a></li>
				<li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
				<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
				<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
				<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
			</ul>
		</nav>

		<div class="container">

			<div class="row">

				<div class="col-md-8 col-md-offset-2">

					<ui-view></ui-view>

				</div>

			</div>

		</div>

		<script type="text/ng-template" id="/home.html">
			<div class="page-header">
				<h1>Home Page</h1>
			</div>

			<div class="item" ng-repeat="post in posts | orderBy:'-upvotes'">
				<span class="glyphicon glyphicon-thumbs-up"
				ng-click="incrementUpvotes(post)"></span>
				{{post.upvotes}}
				<span style="cursor:pointer" class="glyphicon glyphicon-thumbs-down"
				ng-click="decrementUpvotes(post)"></span>
				<span style="font-size:20px; margin-left:10px;">
					<a ng-show="post.link && !notValid(post.link)" href="{{post.link}}" target="_blank">
						<img class="photo" src="{{post.link}}" alt="{{post.title}}">
					</a>
					<img ng-show="notValid(post.link)" class="photo" src="images/noimage_small.jpg" alt="">
					<a ng-show="post.link" href="{{post.link}}" target="_blank">
						{{post.title}}
					</a>
					<span ng-hide="post.link">
						{{post.title}}
					</span>
					<span ng-show="post.author">
						posted by {{post.author}} |
					</span>
					<span>
						<a href="#/posts/{{post._id}}">Comments</a> ({{ post.comments.length }})
					</span>
				</span>
			</div>

			<div uib-alert ng-show="error" class="alert-danger" close="closeAlert()">
				{{ error }}
			</div>

			<div class="login" ng-hide="isLoggedIn()">
				<h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
			</div>

			<form ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top:30px;">
				<h3>Add a new post</h3>

				<div class="form-group">
					<input type="text"
					class="form-control"
					placeholder="Title"
					ng-model="title"></input>
				</div>
				<div class="form-group">
					<input type="text"
					class="form-control"
					placeholder="Link"
					ng-model="link"></input>
				</div>
				<button type="submit" class="btn btn-primary">Post</button>
			</form>
		</script>

		<script type="text/ng-template" id="/posts.html">
			<div class="page-header">
				<h3>
					<a ng-show="post.link && !notValid(post.link)" href="{{post.link}}" target="_blank">
						{{post.title}}
					</a>
					<span ng-show="notValid(post.link)">
						{{post.title}}
					</span>
					<img ng-show="!notValid(post.link)" class="inside" src="{{post.link}}" alt="{{post.title}}">
					<img ng-show="notValid(post.link)" class="inside" src="images/noimage.jpg" alt="">
				</h3>
			</div>

			<div class="commentRow" ng-repeat="comment in post.comments | orderBy:'-upvotes'">
				<span class="glyphicon glyphicon-thumbs-up"
				ng-click="incrementUpvotes(comment)"></span>
				{{comment.upvotes}}
				<span style="cursor:pointer" class="glyphicon glyphicon-thumbs-down"
				ng-click="decrementUpvotes(comment)"></span>
				by {{comment.author}}
				<span class="comment">
					{{comment.body}}
				</span>
			</div>

			<div uib-alert ng-show="error" class="alert-danger" close="closeAlert()">{{ error }}</div>

			<form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top:30px;">
				<h3>Add a new comment</h3>

				<div class="form-group">
					<input type="text"
					class="form-control"
					placeholder="Comment"
					ng-model="body"></input>
				</div>
				<button type="submit" class="btn btn-primary">Post</button>
			</form>
		</script>

		<script type="text/ng-template" id="/register.html">
			<div class="page-header">
				<h1>Home Page</h1>
			</div>

			<div ng-show="error" class="alert alert-danger row">
				<span>{{ error.message }}</span>
			</div>

<!--			<div ng-hide="isLoggedIn()">
				<h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
			</div>-->

			<form ng-submit="register()" style="margin-top:30px;">
				<h3>Register</h3>

				<div class="form-group">
					<input type="text"
					class="form-control"
					placeholder="Username"
					ng-model="user.username"></input>
				</div>
				<div class="form-group">
					<input type="password"
					class="form-control"
					placeholder="Password"
					ng-model="user.password"></input>
				</div>
				<button type="submit" class="btn btn-primary">Register</button>
			</form>
		</script>

		<script type="text/ng-template" id="/login.html">
			<div class="page-header">
				<h1>Home Page</h1>
			</div>

			<div ng-show="error" class="alert alert-danger row">
				<span>{{ error.message }}</span>
			</div>

			<form ng-submit="logIn()" style="margin-top:30px;">
				<h3>Log In</h3>

				<div class="form-group">
					<input type="text"
					class="form-control"
					placeholder="Username"
					ng-model="user.username"></input>
				</div>
				<div class="form-group">
					<input type="password"
					class="form-control"
					placeholder="Password"
					ng-model="user.password"></input>
				</div>
				<button type="submit" class="btn btn-primary">Log In</button>
			</form>
		</script>

	</body>
</html>